body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(219, 207, 190);
}
section {
    background: url(recipe-image.jpeg);
    background-repeat: no-repeat;
    padding: 100px;
    margin-left: 100px;
    height: 600px;
}
.container {
    height: 200px;
    width: 400px;
    background-color: #d7e1f7;
    margin: 0  auto;
}
h1 {
    text-align: center;
    color: rgb(109, 99, 99);
}
a {
    background-color: #d7e1f7;
    color:rgb(43, 39, 39);
    font-size: 20px;
    padding: 0px;
    /* margin: 10px; */
    text-decoration: none;
    cursor: pointer;
}